<!DOCTYPE html>
<html>
<style type="text/css">
	td {
		text-align: center;
	}
</style>
	<body>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<h1>Table of picks</h1><br>
		<table id = "picks" border = 1 style="width:45%">
			<tr>
				{% for data in header %}
					<th>
					{% for part in data %}
						{{part}}<br>
					{% endfor %}
					</th>
				{% endfor %}
			</tr>
			{% for pick in nflpicks %}
				<tr>
				{% for data in pick %}
					{% set pick_loop = loop %}
					<td id="pick{{pick[0]}}{{loop.index}}">{{data}}</td>
					{% for team in winners %}
						{% if data == team %}
							<script type="text/javascript">
								console.log("{{data}}");
								document.getElementById("pick{{pick[0]}}{{pick_loop.index}}").style.backgroundColor = '#2dc90a';
							</script>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<br>
		<h1>Submit Log</h1><br>
		{% for entry in logs %}
			{{entry[0]}}
			{{entry[1]}}
			<br>
		{% endfor %}
	</body>
</html>