table {
	border-collapse: collapse;
	border: 1px solid black;
	margin-right: auto;
	margin-left: auto;
}

th {
	background-color: #c4c4c4;
	font-size: 20px;
}

th, td {
	border: 1px solid black;
	padding: 10px;
	vertical-align: middle;
}

td.spread {
	text-align: center;
}

td.team1, td.team2 {
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	width: 100px;
}

img {
	width: 75px;
	height: 50px;
}

div {
	text-align: center;
	padding: 20px;
}

p {
	display: inline;
	font-size: 25px;
}

input.radio {
	margin-bottom: 10px; 
}

label{
	display: block;
	min-height: 100%;
	height: auto;
	height: 100%;
	cursor: default;
}