<!DOCTYPE html>
<html>
<style type="text/css">
	td {
		text-align: center;
	}
</style>
	<body>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<h1>Table of picks</h1><br>
		<table id = "picks" border = 1 style="width:60%">
			<tr>
				{% for data in header %}
					<th>
					{% for part in data %}
						{{part}}<br>
					{% endfor %}
					</th>
				{% endfor %}
			</tr>
			{% for pick in nflpicks %}
				<script type="text/javascript">var {{pick[0]}}_score = 0;</script>
				<tr>
				{% for data in pick %}
					{% set pick_loop = loop %}
					<td id="pick{{pick[0]}}{{loop.index}}">{{data}}</td>
					{% for team in winners %}
						{% if data == team %}
							<script type="text/javascript">
								window.{{pick[0]}}_score += 1;
								document.getElementById("pick{{pick[0]}}{{pick_loop.index}}").style.backgroundColor = '#2dc90a';
							</script>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<br>
		<h1>Leaderboard</h1>
		<table id="leaderboard" border=1 >
			<tr>
				<th>
					Name
				</th>
				<th>
					Score
				</th>
			</tr>
			{% for pick in nflpicks %}
			<tr>
				<td width="90px">{{pick[0]}}</td>
				<td id="{{pick[0]}}" width="60px"><script>
					document.getElementById("{{pick[0]}}").textContent = {{pick[0]}}_score;
				</script></td>
			{% endfor %}
			</tr>
		</table>
	</body>
</html>