<!DOCTYPE html>
<html>
<style type="text/css">
	td {
		text-align: center;
	}
</style>
	<head>
		<meta http-equiv="refresh" content="200">
	</head>
	<body>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<h1>Table of picks</h1><br>
		<table id = "picks" border = 1 style="width:60%">
			<tr>
				{% for data in header %}
					<th>
					{% for part in data %}
						{{part}}<br>
					{% endfor %}
					</th>
				{% endfor %}
			</tr>
			{% for pick in nflpicks %}
				<script type="text/javascript">var {{pick[0]}}_score = 0;</script>
				<tr>
				{% for data in pick %}
					{% set pick_loop = loop %}
					<td id="pick{{pick[0]}}{{loop.index}}">{{data}}</td>
					{% for team in winners %}
						{% if data == team %}
							<script type="text/javascript">
								window.{{pick[0]}}_score += 1;
								document.getElementById("pick{{pick[0]}}{{pick_loop.index}}").style.backgroundColor = '#2dc90a';
							</script>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<br>
		<h1>Leaderboard</h1>
		<table id="leaderboard" border=1 >
			<tr>
				<th>
					Name
				</th>
				<th>
					Score
				</th>
			</tr>
			{% for pick in nflpicks %}
			<tr>
				<td width="90px">{{pick[0]}}</td>
				<td id="{{pick[0]}}" width="60px"><script>
					document.getElementById("{{pick[0]}}").textContent = {{pick[0]}}_score;
				</script></td>
			{% endfor %}
			</tr>
		</table>
		
		{% for i in range(16) %}
			<p id={{i}}></p>
			<img id="t1{{i}}" src="{{logos['LV']}}">
		{% endfor %}
		<script type="text/javascript">
			let request = new XMLHttpRequest();
			request.open("GET", "http://site.api.espn.com/apis/site/v2/sports/football/nfl/scoreboard");
			request.send();
			request.onload = () => {
				console.log(request);
				if (request.status === 200) {
					result = JSON.parse(request.response)['events']
					for (i = 0; i < result.length; i++) {
						game = result[i];
						t1 = game['competitions'][0]['competitors'][0]['team']['abbreviation'];
						t2 = game['competitions'][0]['competitors'][1]['team']['abbreviation'];
						document.getElementById(i.toString()).innerHTML = t1 + "   " + t2;
						console.log("{{logos['t1']}}".replace("t1",t1));
						document.getElementById('t1'+i.toString()).src = "{{logos['t1']}}".replace("t1",t1);
					}
				}
			}
		</script>
	</body>
</html>