<!--test nfl site -->
<!DOCTYPE html>
<html>
<script type="text/javascript">
	function validateForm() {
		var name = document.forms['picks']['name'].value;
		if(name == "") {
			alert("Enter your name");
			return false
		}
		{% for num in ctr %}
			var pick{{num}} = document.forms['picks']['pick{{num}}'].value;
			if(pick{{num}} == "") {
				alert("Must make all picks");
				return false;
			}
		{% endfor %}
		var points = document.forms['picks']['points'].value;
		if(points == "") {
			alert("Enter points");
			return false;
		}
		if(isNaN(points)) {
			alert("Points must be a number");
			return false;
		}
	}
</script>
	<head>
		<title>NFL Picks</title>
	</head>
	<style>
	span {
		display: inline-block;
		width: 60px;
		height: 21px;
	}
	span_2 {
		display: inline-block;
		background-color: rgb(200,200,200);
	}
	</style>
	<body>
		<form method='post' action="submit", name="picks", onsubmit="return validateForm()">
		Name: <input type='text' name='name' value=''><br>
		{% for team1,spread,team2 in picks %}
			{% if loop.index is not divisibleby 2 %}
				<input type='radio' name='pick{{loop.index}}' value='{{team1}}'>
				<span style='padding-right:20px;'>{{team1}}</span>
				<span style='padding-right:10px;'>{{spread}}</span>
				<span style='text-align: right'>{{team2}}</span>
				<input type='radio' name='pick{{loop.index}}' value='{{team2}}'><br>
			{% endif %}
			{% if loop.index is divisibleby 2 %}
				<span_2><input type='radio' name='pick{{loop.index}}' value='{{team1}}'>
				<span style='padding-right:20px;'>{{team1}}</span>
				<span style='padding-right:10px;'>{{spread}}</span>
				<span style='text-align: right'>{{team2}}</span>
				<input type='radio' name='pick{{loop.index}}' value='{{team2}}'></span_2><br>
			{% endif %}
		{% endfor %}

		Points: <input type='text' name='points' value=''><br>
		<input type='submit' name='submit' value='Submit'>
		</form>
	</body>
</html>
